In [1]:
import pandas as pd
import statistics

В ходе экспериментов над разными моделми мы получили разные предсказания.

В качестве экспериментов были использованы разные: 
   - функции оптимизации (Adam, Adamax, RMSProp), 
   - предобученные модели (EfficientNetV2M,  EfficientNetB5, EfficientNetB6, Xception)
   - разрешение (160х200, 240х300)
   - аугментация данных (albumentations и встроенная в keras)
   
Структура нейросети была одинаковая.

Попробуем теперь файлы submission собрать в один датасет и большинством голосов (moda) решить по каждому объекту что это за модель.

In [2]:
sub_0 = pd.read_csv('submission/submission_0.csv')
sub_1 = pd.read_csv('submission/submission_1.csv')
sub_2 = pd.read_csv('submission/submission_2.csv')
sub_3 = pd.read_csv('submission/submission_3.csv')
sub_4 = pd.read_csv('submission/submission_4.csv')
sub_5 = pd.read_csv('submission/submission_5.csv')

In [3]:
sub_0 = sub_0.rename(columns={'Category': 'Cat_0'})
sub_1 = sub_1.rename(columns={'Category': 'Cat_1'})
sub_2 = sub_2.rename(columns={'Category': 'Cat_2'})
sub_3 = sub_3.rename(columns={'Category': 'Cat_3'})
sub_4 = sub_4.rename(columns={'Category': 'Cat_4'})
sub_5 = sub_5.rename(columns={'Category': 'Cat_5'})

In [4]:
submission = sub_0.merge(sub_1, on='Id', how='left')
submission = submission.merge(sub_2, on='Id', how='left')
submission = submission.merge(sub_3, on='Id', how='left')
submission = submission.merge(sub_4, on='Id', how='left')
submission = submission.merge(sub_5, on='Id', how='left')

In [5]:
submission

              Id  Cat_0  Cat_1  Cat_2  Cat_3  Cat_4  Cat_5
0     305108.jpg      7      7      7      2      2      9
1     295075.jpg      6      6      6      6      6      6
2      31197.jpg      4      4      4      4      4      4
3      93598.jpg      7      9      9      9      9      9
4      87877.jpg      9      7      9      9      9      9
...          ...    ...    ...    ...    ...    ...    ...
6670   70330.jpg      4      4      4      4      4      4
6671   99227.jpg      7      7      7      7      7      7
6672   49915.jpg      1      1      1      1      1      1
6673   47272.jpg      3      3      3      3      3      3
6674   32312.jpg      4      4      4      4      4      4

[6675 rows x 7 columns]

In [6]:
submission['Category'] = submission.apply(lambda row: statistics.mode([row['Cat_0'], row['Cat_1'], 
                                                                       row['Cat_2'], row['Cat_3'],
                                                                       row['Cat_4'], row['Cat_5']]), axis=1)
submission

              Id  Cat_0  Cat_1  Cat_2  Cat_3  Cat_4  Cat_5  Category
0     305108.jpg      7      7      7      2      2      9         7
1     295075.jpg      6      6      6      6      6      6         6
2      31197.jpg      4      4      4      4      4      4         4
3      93598.jpg      7      9      9      9      9      9         9
4      87877.jpg      9      7      9      9      9      9         9
...          ...    ...    ...    ...    ...    ...    ...       ...
6670   70330.jpg      4      4      4      4      4      4         4
6671   99227.jpg      7      7      7      7      7      7         7
6672   49915.jpg      1      1      1      1      1      1         1
6673   47272.jpg      3      3      3      3      3      3         3
6674   32312.jpg      4      4      4      4      4      4         4

[6675 rows x 8 columns]

In [7]:
submission = submission[['Id','Category']]

In [8]:
submission.to_csv('submission/submission_final.csv', index=False)